@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

:root,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}


/* Firefox */
* {
  scrollbar-width: 10px;
  /* scrollbar-color: var(--secondary) var(--primary); */
  scrollbar-color: white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;

}

*::-webkit-scrollbar-track {
  scrollbar-width: thin;
  /* scrollbar-color: var(--secondary) var(--primary); */
  scrollbar-color: white;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}

.slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  cursor: pointer;

}

.slider {
  -webkit-appearance: none;
  appearance: none;
  background: white;

  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}


.loader {
  border: 2px solid #f3f3f3;
  /* Light grey */
  border-top: 2px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-top: 16px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}